$tweeterGrey: #545149;
$tweeterLightBlue: #C4CAE3;

#tweets {
  .tweet{
    border: 3px $tweeterGrey solid;
    margin: 0 5% 2em 5%;
    padding: 10px;
    overflow: auto;
    &:hover {
      -webkit-box-shadow: 10px 10px 0px 0px rgba(196,202,227,1);
      -moz-box-shadow: 10px 10px 0px 0px rgba(196,202,227,1);
      box-shadow: 10px 10px 0px 0px rgba(196,202,227,1);
    }
    .handle {
      display: none;
      float: right;
      color: $tweeterLightBlue;
    }
    &:hover .handle { display: block; }
    &:hover .flags { display: block; }
    .body {
      margin: 2em 15px;
      font-weight: 700;
    }
  }
  footer {
    padding: 10px;
    border-top: 3px $tweeterGrey solid;
    font-size: 0.8em;
    .timestamp {
      float: left;
    }
    .flags {
      display: none;
      float: right;
      span {
        margin-left: 15px;
      }
    }
  }
}
